<div class="text-center">

    <h1>Bird Catalog</h1>
    <h5>These are all the birds we can currently identify. Feel free to take a look around!
        <br />If you find a bird you're interested in, click on it to see more information.</h5>
    <hr>
    <div class="row align-items-start">
        <div class="col">
            <app-bird-item></app-bird-item>
        </div>
        <div class="col">
            <app-bird-item></app-bird-item>
        </div>
        <div class="col">
            <app-bird-item></app-bird-item>
        </div>
    </div>
</div>

