<div class="p-5 mb-4 rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Seed Searcher!</h1>
        <h3>Seed Searcher is a website designed to help you identify bird species in your pictures.</h3>
        <p class="lead">upload an image below and click Identify to try it out!</p>
        <hr class="my-4">
        <div style="display: flex; justify-content: space-around;">
            <app-image-upload></app-image-upload>
        </div>
    </div>
</div>